



<app-coordinateurheader></app-coordinateurheader>
<app-coordinateurmenu></app-coordinateurmenu>

<div class="container">
  <div class="col-12 col-sm-12 col-lg-12">
    <div class="card ">
  
  
      


<div class="container">
    <button class="btn btn-lg btn-success" routerLink="/coordinateurcreeravancementprojet/">create new</button>&nbsp;
    <button class="btn btn-lg btn-info" (click)="openPDF()">Download PDF</button>&nbsp;
  
  </div>
  <br><hr>
</div>
</div>
</div>

<div class="container">
  <div class="col-12 col-sm-12 col-lg-12">
    <div class="card ">


      <br><hr>
  
  <div class="container">
      <!-- No data message -->
      <p *ngIf="avancementprojet.length <= 0" class="no-data text-center">There is no avancementprojet added yet!</p>
      <!-- avancementprojet list -->
      <table class="table table-bordered" id="htmlData" *ngIf="avancementprojet.length > 0">
        <thead class="table-success">
          <tr>
            <th scope="col">titre</th>
            <th scope="col">description</th>
            <th scope="col">datecreation</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let avancementprojet of avancementprojet; let i = index">
            <td>{{avancementprojet.titre}}</td>
            <td>{{avancementprojet.description}}</td>
            <td>{{avancementprojet.datecreation}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  
  
  
      </div>
  </div>
  </div>





<app-coordinateurfooter></app-coordinateurfooter>