<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>



<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h3 class="mb-0">Remplir les données : </h3>
          </div>
        </div>
        <div class="card-body">
          <form class="row" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group col-md-9">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputName">Nom:</label>
                  <input class="form-control" type="text" formControlName="nom" />
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['nom'].errors?.['required']">
                    Nom est obligatoire.....
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputName">Prénom:</label>
                  <input class="form-control" type="text" formControlName="prenom" />
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['prenom'].errors?.['required']">
                    Prenom est obligatoire.....
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputName">Matricule:</label>
                  <input class="form-control" type="text" formControlName="matricule" />
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['matricule'].errors?.['required']">
                    Matricule est obligatoire.....
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputName">Email:</label>
                  <input class="form-control" type="text" formControlName="email" />
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['email'].errors?.['required']">
                    Email est obligatoire.....
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputName">Département:</label>
                  <select class="form-select" name="departement" formControlName="departement">
                    <option>Selectionner département</option>
                    <option>Administration</option>
                    <option>Informatique</option>
                    <option>Ressources humaines</option>
                    <option>Fluides</option>
                    <option>Electricité</option>
                    <option>Structure</option>
                  </select>
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['departement'].errors?.['required']">
                    departement est obligatoire.....
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputName">Role:</label>
                  <select class="form-select" name="role" formControlName="role">
                    <option>Selectionner rôle</option>
                    <option>admin</option>
                    <option>chef</option>
                    <option>rh</option>
                    <option>dg</option>
                    <option>coordinateur</option>
                    <option>modeleur</option>
                  </select>
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['role'].errors?.['required']">
                    Role est obligatoire.....
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputName">Pays:</label>
                  <select class="form-select" name="pays" formControlName="pays">
                    <option>Selectionner Pays</option>
                    <option>TUNIS</option>
                    <option>MAROC</option>
                    <option>FRANCE</option>
                    <option>AMÉRIQUES</option>
                    <option>Espagne</option>
                    <option>GABON</option>
                    <option>COTE D'IVOIRE</option>
                    <option>BENIN</option>
                  </select>
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['pays'].errors?.['required']">
                    pays est obligatoire.....
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputName">Status:</label>
                  <select class="form-select" name="status" formControlName="status">
                    <option>Selectionner Status</option>
                    <option>Active</option>
                    <option>Desactive</option>
                  </select>
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['status'].errors?.['required']">
                    status est obligatoire.....
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputName">Password:</label>
                  <input class="form-control" type="text" formControlName="password" />
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['password'].errors?.['required']">
                    Password est obligatoire.....
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3 d-flex flex-column">
              <div class="profile-img-edit position-relative">
                <img [src]="imageSrc" alt="profile-pic" class="theme-color-default-img profile-pic rounded avatar-100">
              </div>
              <div class="mt-3">
                <input class="file-upload" type="file" accept="image/*" formControlName="imagePath"
                  (change)="onImageSelected($event)" />
              </div>
              <div class="d-inline-block align-items-center">
                <span>Extension .jpg .png .jpeg</span>
              </div>
              <div class="form-control is-invalid" *ngIf="submitted && myForm['imagePath'].errors?.['required']">
               Image est obligatoire.....
              </div>
            </div>
            <div class="form-group col-md-12 text-center">
              <button class="btn btn-primary" type="submit"> Valider </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


























<app-adminfooter></app-adminfooter>