<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>



<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h3 class="mb-0">Remplir le formulaire: </h3>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="projetForm" class="row" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="inputName">Nom:</label>
                  <input class="form-control" type="text" formControlName="nom" />
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['nom'].errors?.['required']">
                    nom est obligatoire.....
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label for="inputName">Nom Groupe</label>
                  <select class="form-select" name="idgroupe" formControlName="idgroupe">
                    <option *ngFor="let groupe of groupe; let i = index" [value]="groupe._id">{{groupe.nom}}</option>
                  </select>
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['idgroupe'].errors?.['required']">
                    Nom Groupe est obligatoire.....
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="inputName">Nombre d'heures</label>
                  <input class="form-control" type="text" formControlName="nbheures" />
                  <!-- error -->
                  <div *ngIf="submitted && myForm['nbheures'].errors?.['required']" class="form-control is-invalid">
                    nbheures est obligatoire.....
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputName">Date creation:</label>
                  <input class="form-control" type="date" formControlName="datecreation" />
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['datecreation'].errors?.['required']">
                    datecreation est obligatoire.....
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputName">Date fin:</label>
                  <input class="form-control" type="date" formControlName="datefin" />
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['datefin'].errors?.['required']">
                    datefin est obligatoire.....
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="inputName">Description:</label>
                  <input class="form-control" type="text" formControlName="description" />
                  <!-- error -->
                  <div class="form-control is-invalid" *ngIf="submitted && myForm['description'].errors?.['required']">
                    description est obligatoire.....
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group text-center mt-3 col-md-12">
              <button class="btn btn-primary" type="submit">
                Valider
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




<app-adminfooter></app-adminfooter>