<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>


<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h3 class="mb-0">Détails: </h3>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="projetForm" class="row">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="inputName">Nom:</label>
                  <input class="form-control" type="text" formControlName="nom" readonly />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Groupes:</label>
                  <input class="form-control" type="text" [value]="groupeNom(projetForm.get('idgroupe').value)" readonly />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Etat:</label>
                  <input class="form-control" type="text" formControlName="etat" readonly />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="inputName">Nombre d'heures</label>
                  <input class="form-control" type="text" formControlName="nbheures" readonly />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputName">Date creation:</label>
                  <input class="form-control" type="date" formControlName="datecreation" readonly />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputName">Date fin:</label>
                  <input class="form-control" type="date" formControlName="datefin" readonly />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="inputName">Description:</label>
                  <input class="form-control" type="text" formControlName="description" readonly />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<app-adminfooter></app-adminfooter>