<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>



<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h3 class="mb-0">Détails: </h3>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="detailForm" class="row">
            <div class="row">
              <div class="col-md-3 form-group">
                <label for="inputName">Nom:</label>
                <input class="form-control" type="text" formControlName="nom" readonly />
              </div>

              <div class="col-md-3 form-group">
                <label for="inputName">Déscription:</label>
                <input class="form-control" type="text" formControlName="description" readonly />
              </div>

              <div class="col-md-3 form-group">
                <label for="inputName">Date création:</label>
                <input class="form-control" type="date" formControlName="datecreation" readonly />
              </div>

              <div class="col-md-3 form-group">
                <label class="mr-2">Etat:</label>
                <input class="form-control" type="text" formControlName="etat" readonly />
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>





<app-adminfooter></app-adminfooter>