<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h3 class="mb-0">Détails: </h3>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="detailForm" class="row">
            <div class="form-group col-md-9">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputName">Nom</label>
                  <input class="form-control" type="text" formControlName="nom" readonly />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputName">Prénom</label>
                  <input class="form-control" type="text" formControlName="prenom" readonly />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputName">Matricule</label>
                  <input class="form-control" type="text" formControlName="matricule" readonly />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputName">Email</label>
                  <input class="form-control" type="text" formControlName="email" readonly />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputName">Département</label>
                  <input class="form-control" type="text" formControlName="departement">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputName">Role</label>
                  <input class="form-control" type="text" name="role" formControlName="role" readonly />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="inputName">Pays</label>
                  <input class="form-control" type="text" formControlName="pays" readonly />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputName">Status</label>
                  <input class="form-control" type="text" formControlName="status" readonly />
                </div>
              </div>
              <div class="row">
              </div>
            </div>
            <div class="form-group col-md-3 d-flex flex-column">
              <div class="profile-img-edit position-relative">
                <img [src]="imageSrc" alt="profile-pic" class="theme-color-default-img profile-pic rounded avatar-100"
                  formControlName="image">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<app-adminfooter></app-adminfooter>