<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a routerLink="/modeleurlistabsence/"> <img alt="image" src="assets/img/grh.png" class="header-logo" /> <span
          class="logo-name"></span>
      </a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Main</li>
      <li class="dropdown active">
        <a routerLink="/modeleurlistabsence/" class="nav-link"><i data-feather="fa-user"></i><span>Acceuil</span></a>
      </li>






      <li class="dropdown">
        <a routerLink="/modeleurlistprojet/" class="menu-toggle nav-link has-dropdown btn-success"><i
            data-feather="chevrons-left"></i><span>Projets</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="/modeleurlistprojet/">Projets</a></li>
          <li><a class="nav-link" routerLink="/modeleurcreerprojet/">Créer New Projet</a></li>
        </ul>
      </li>




      
      <li class="dropdown">
        <a routerLink="/modeleurlistabsence/" class="menu-toggle nav-link has-dropdown btn-warning"><i
            data-feather="chevrons-left"></i><span>Absences</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="/modeleurlistabsence/">Absences</a></li>
          <li><a class="nav-link" routerLink="/modeleurcreerabsence/">Créer New Absence</a></li>
        </ul>
      </li>




      <li class="dropdown">
        <a routerLink="/modeleurlistavancementprojet/" class="menu-toggle nav-link has-dropdown btn-info"><i
            data-feather="chevrons-left"></i><span>Avancement Projets</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="/modeleurlistavancementprojet/">Avancements Projets</a></li>
          <li><a class="nav-link" routerLink="/modeleurcreeravancementprojet/">Créer Avancemnt Projet</a></li>
        </ul>
      </li>



      <li class="dropdown">
        <a routerLink="/modeleurlistavancementtache/" class="menu-toggle nav-link has-dropdown btn-primary"><i
            data-feather="chevrons-left"></i><span>Avancement taches</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="/modeleurlistavancementtache/"> Avancement tache</a></li>
          <li><a class="nav-link" routerLink="/modeleurcreeravancementtache/">Créer Avancement tache</a></li>
        </ul>
      </li>


      <li class="dropdown">
        <a routerLink="/modeleurlistconge/" class="menu-toggle nav-link has-dropdown btn-info"><i
            data-feather="chevrons-left"></i><span>Conges</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="/modeleurlistconge/">Liste conges</a></li>
          <li><a class="nav-link" routerLink="/modeleurcreerconge/">Créer conge</a></li>
        </ul>
      </li>


      <li class="dropdown">
        <a routerLink="/modeleurlistgroupe/" class="menu-toggle nav-link has-dropdown btn-dark"><i
            data-feather="chevrons-left"></i><span>Groupes</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="/modeleurlistgroupe/">Liste groupes</a></li>
          <li><a class="nav-link" routerLink="/modeleurcreergroupe/">Créer groupe</a></li>
        </ul>
      </li>





      <li class="dropdown">
        <a routerLink="/modeleurlisttache/" class="menu-toggle nav-link has-dropdown btn-warning"><i
            data-feather="chevrons-left"></i><span>Taches</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" routerLink="/modeleurlisttache/">Liste Taches</a></li>
          <li><a class="nav-link" routerLink="/modeleurcreertache/">Créer Tache</a></li>
        </ul>
      </li>



      <li class="nav-item" routerLinkActive="active" *ngIf="userIsAuthenticated">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>




    </ul>
  </aside>
</div>