



<app-coordinateurheader></app-coordinateurheader>
<app-coordinateurmenu></app-coordinateurmenu>


<div class="container">
  <div class="col-12 col-sm-12 col-lg-12">
    <div class="card ">
  
  
<br><hr>
  



<div class="row justify-content-center">
  <div class="col-md-4 register-absence">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="findformForm" (ngSubmit)="onSubmitss()">



        <div class="form-row">
          <div class="col">
            <label for="inputName">idemploye</label>
            <select class="form-select"  name="idemploye"  formControlName="idemploye">
              <option>Selectionner idemploye </option>
              <option *ngFor="let employe of user; let i = index" value="{{employe._id}}">{{employe.email}}</option>
            </select>
            <!-- error -->            </div>
          <div class="col">
            <label for="inputName">DATE DEBUT</label>
            <input class="form-control" type="date" formControlName="datedebut" />
            <!-- error -->            
          </div>
          <div class="col">
            <label for="inputName">DATE FIN</label>
            <input class="form-control" type="date" formControlName="datefin" />
            <!-- error -->            
          </div>
        </div>


<br><br>


        <div class="form-group">

          <button class="btn btn-dark btn-lg btn-block" type="submit">
            Rechercher Absence
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- form card register -->
</div>



<br><hr>
  
  
</div>
</div>
</div>

<div class="container">
  <div class="col-12 col-sm-12 col-lg-12">
    <div class="card ">
  
      <br><hr>

<div class="container">
    <button class="btn btn-lg btn-success" routerLink="/coordinateurcreerabsence/">create new</button>&nbsp;
    <button class="btn btn-lg btn-info" (click)="openPDF()">Download PDF</button>&nbsp;
  
  </div>
  <br><hr>
  
  <div class="container">
      <!-- No data message -->
      <p *ngIf="absence.length <= 0" class="no-data text-center">There is no absence added yet!</p>
      <!-- absence list -->
      <table class="table table-bordered" id="htmlData" *ngIf="absence.length > 0">
        <thead class="table-success">
          <tr>
            <th scope="col">description</th>
            <th scope="col">datedebut</th>
            <th scope="col">datefin</th>
            <th scope="col">etat</th>

          </tr>
        </thead>
        <tbody>
          
            <tr *ngFor="
            let absence of absence
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          " >
  
  
            <td>{{absence.description}}</td>
            <td>{{absence.datedebut}}</td>
            <td>{{absence.datefin}}</td>
            <td>{{absence.etat}}</td>

          </tr>
        </tbody>
      </table>
      

      <div class="d-flex justify-content-center">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>


    </div>
  
  </div>
</div>
</div>



<app-coordinateurfooter></app-coordinateurfooter>