<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>






<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h3 class="mb-0">Remplir les données : </h3>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="congeForm" (ngSubmit)="onSubmit()" class="row">
            <!-- Première ligne -->
            <div class="form-group col-md-4">
              <label for="inputName">Id employe:</label>
              <input class="form-control" type="text" formControlName="idemploye" />
              <!-- error -->
              <div  class="form-control is-invalid" *ngIf="submitted && myForm['idemploye'].errors?.['required']">
                id employe est obligatoire.....
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Etat:</label>
              <select class="form-select" name="etat" formControlName="etat">
                <option>valide</option>
                <option>non valide</option>
                <option>en attente</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputName">Solde congé:</label>
              <input class="form-control" type="text" formControlName="soldeconge" readonly />
              <!-- error -->
            </div>
            <!-- Deuxième ligne -->
            <div class="form-group col-md-6">
              <label for="inputName">Date debut:</label>
              <input class="form-control" type="date" formControlName="datedebut" />
              <!-- error -->
              <div  class="form-control is-invalid" *ngIf="submitted && myForm['datedebut'].errors?.['required']">
                Date debut est obligatoire.....
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputName">Date fin:</label>
              <input class="form-control" type="date" formControlName="datefin" />
              <div  class="form-control is-invalid" *ngIf="submitted && myForm['datefin'].errors?.['required']">
                Date fin est obligatoire.....
              </div>
            </div>
            <!-- Troisième ligne -->
            <div class="form-group col-md-12">
              <label for="inputName">Description:</label>
              <input class="form-control" type="text" formControlName="description" />
              <!-- error -->
              <div  class="form-control is-invalid" *ngIf="submitted && myForm['description'].errors?.['required']">
                description est obligatoire.....
              </div>
            </div>
            <!-- Bouton en milieu -->
            <div class="form-group text-center col-12">
              <button class="btn btn-primary" type="submit">
                Valider
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- form  -->
    </div>
  </div>
</div>




<app-adminfooter></app-adminfooter>