



<app-rhheader></app-rhheader>
<app-rhmenu></app-rhmenu>


<br><hr>
  
<div class="container">


  <form [formGroup]="absenceForm" (ngSubmit)="onSubmitssss()">



    <div class="form-row">
      <div class="col">
        <label for="inputName">idemploye</label>
        <select class="form-select"  name="idemploye"  formControlName="idemploye">
          <option>Selectionner idemploye </option>
          <option *ngFor="let employe of user; let i = index" value="{{employe._id}}">{{employe.email}}</option>
        </select>
        <!-- error -->            </div>



    </div>


<br><br>
    <div class="form-group">

      <button class="btn btn-dark btn-lg btn-block" type="submit">
        Filter
      </button>
    </div>
  </form>


</div>






<br><hr>




<div class="container">
    <button class="btn btn-lg btn-success" routerLink="/rhcreerconge/">create new</button>&nbsp;
    <button class="btn btn-lg btn-info" (click)="openPDF()">Download PDF</button>&nbsp;
  
  </div>
  <br><hr>
  
  <div class="container">
      <!-- No data message -->
      <p *ngIf="conge.length <= 0" class="no-data text-center">There is no conge added yet!</p>
      <!-- conge list -->
      <table class="table table-bordered" *ngIf="conge.length > 0">
        <thead class="table-success">
          <tr>
            <th scope="col">description</th>
            <th scope="col">Datedebut</th>
            <th scope="col">datefin</th>
            <th scope="col">etat</th>
            <th scope="col center">Update</th>
  <th scope="col center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conge of conge; let i = index">
            <td>{{conge.description}}</td>
            <td>{{conge.datedebut}}</td>
            <td>{{conge.datefin}}</td>
            <td>{{conge.etat}}</td>
            <td class="text-center edit-block">
              <span class="edit" [routerLink]="['/rheditconge/', conge._id]">
                <button type="button" class="btn btn-warning btn-lg">Gérer</button>&nbsp;&nbsp;
              </span>
  </td>
  <td>
              <span class="delete" (click)="removeconge(conge, i)">
                <button type="button" class="btn btn-danger btn-lg">Delete</button>&nbsp;&nbsp;
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  











<app-rhfooter></app-rhfooter>