



<app-modeleurheader></app-modeleurheader>
<app-modeleurmenu></app-modeleurmenu>


<div class="row justify-content-center">
    <div class="col-md-4 register-tache">
      <!-- form card register -->
      <div class="card-body">
        <form [formGroup]="tacheForm" (ngSubmit)="onSubmit()">


          <div class="form-group">
            <label for="inputName">nom</label>
            <input class="form-control" type="text" formControlName="nom" />
            <!-- error -->
          </div>
          <div class="form-group">
            <label for="inputName">description</label>
            <input class="form-control" type="text" formControlName="description" />
            <!-- error -->
          </div>
          <div class="form-group">
            <label for="inputName">datecreation</label>
            <input class="form-control" type="date" formControlName="datecreation" />
            <!-- error -->
          </div>
          <div class="form-group">
            <label for="inputName">idprojet</label>
            <select class="form-select"  name="idprojet"  formControlName="idprojet">

              <option>Selectionner id projet </option>

              <option  *ngFor="let user of user; let i = index" value="{{user.id}}">{{user.nom}}</option>
             
  
  
  
            </select>
            <!-- error -->
          </div>
              <div class="form-group">
            <label>etat</label>

            <select class="form-select"  name="etat"  formControlName="etat">

              <option>Selectionner etat </option>

              <option>en cours</option>
              <option>valide</option>
              <option>non valide</option>
              <option>en atente</option>
  
  
  
            </select>


          </div>



                    <div class="form-group">

            <button class="btn btn-success btn-lg btn-block" type="submit">
              Valider
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- form card register -->
  </div>













<app-modeleurfooter></app-modeleurfooter>