<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h3 class="mb-0">Modifier l'affectation de groupe:</h3>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="row">
            <div class="form-group col-md-6">
              <label for="idemploye" class="form-label">Employé</label>
              <select formControlName="idemploye" class="form-select">
                <option *ngFor="let userItem of user" [value]="userItem._id">{{ userItem.nom }} {{ userItem.prenom }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="idgroupe" class="form-label">Groupe:</label>
              <select formControlName="idgroupe" class="form-select">
                <option *ngFor="let groupeItem of groupe" [value]="groupeItem._id">{{ groupeItem.nom }}</option>
              </select>
            </div>

            <div class="form-group col-md-12">
              <div class="form-group text-center">
                <button class="btn btn-primary btn-lg" type="submit">
                  Mettre à jour</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- form card register -->
    </div>
  </div>
</div>


<app-adminfooter></app-adminfooter>