<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>


<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card">
        <!-- No data message -->
        <!-- <p *ngIf="notif.length <= 0" id="htmlData" class="no-data text-center">There is no notif added yet!</p>   -->
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h4 class="card-title">Historique </h4>
          </div>
          <div class=" justify-right">
            <button class="btn btn-primary" (click)="openPDF()">Download</button>
          </div>
        </div>
        <div class="card-body px-0">
          <div class="table-responsive  border-bottom my-3">
            <table id="notif-list-table" class="table table-striped">
              <thead>
                <tr>
              <th scope="col">Titre</th>
              <th scope="col">Description</th>
              <th scope="col">Date creation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let notif of notif; let i = index">
              <td>{{notif.titre}}</td>
              <td>{{notif.description}}</td>
              <td>{{notif.datecreation}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<app-adminfooter></app-adminfooter>