<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>


<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card">
        <!-- No data message -->
        <!-- <p *ngIf="message.length <= 0" id="htmlData" class="no-data text-center">There is no message added yet!</p>   -->
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h4 class="card-title">Liste des Reclamations </h4>
          </div>
          <div class=" justify-right">
            <button class="btn btn-primary" (click)="openPDF()">Download</button>
          </div>
        </div>
        <div class="card-body px-0">
          <div class="table-responsive  border-bottom my-3">
            <table id="message-list-table" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Titre</th>
                  <th scope="col">Crée par</th>
                  <th scope="col">Description</th>
                  <th scope="col">Date creation</th>
                  <th scope="col">Etat</th>
                  <th scope="col center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let messageItem of message">
                  <td>{{messageItem.titre}}</td>
                  <td><span class="text-black-opacity-05" *ngFor="let  envoie of user">
                      <small *ngIf="envoie._id === messageItem.idenvoie">{{envoie.nom}} {{envoie.prenom}}</small>
                    </span>
                  </td>
                  <td>{{messageItem.description}}</td>
                  <td>{{messageItem.datecreation}}</td>
                  <td> <span [ngClass]="messageItem.etat === 'Cloturé' ? 'badge bg-success' : 'badge bg-warning'">
                      {{ messageItem.etat === 'Cloturé' ? 'Cloturé' : 'En cours' }}
                    </span></td>
                  <td>
                    <div class="flex align-items-center list-user-action">
                      <a class="btn btn-sm btn-icon btn-warning" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Edit" data-original-title="Edit" [routerLink]="['/admineditmessage/', messageItem._id]">
                        <span class="btn-inner">
                          <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341"
                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z"
                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5"
                              stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
                        </span>
                      </a>&nbsp;&nbsp;
                      <a class="btn btn-sm btn-icon btn-dark" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="DETAILS" data-original-title="DETAILS"
                        [routerLink]="['/admindetailmessage/',  messageItem._id]">
                        <span class="btn-inner">
                          <svg width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentColor"
                              d="M9.5,13.09L10.91,14.5L6.41,19H10V21H3V14H5V17.59L9.5,13.09M10.91,9.5L9.5,10.91L5,6.41V10H3V3H10V5H6.41L10.91,9.5M14.5,13.09L19,17.59V14H21V21H14V19H17.59L13.09,14.5L14.5,13.09M13.09,9.5L17.59,5H14V3H21V10H19V6.41L14.5,10.91L13.09,9.5Z">
                            </path>
                          </svg>
                        </span>
                      </a>&nbsp;&nbsp;
                      <a class="btn btn-sm btn-icon btn-danger" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Delete" (click)="removemessage(messageItem._id)">
                        <span class="btn-inner">
                          <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                            <path
                              d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826"
                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M20.708 6.23975H3.75" stroke="currentColor" stroke-width="1.5"
                              stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                              d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973"
                              stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                          </svg>
                        </span>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
          </div>
        </div>
      </div>






      <app-adminfooter></app-adminfooter>