<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>






<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h3 class="mb-0">Détails: </h3>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="detailForm">
            <!-- Première ligne -->
            <div class="form-group row">
              <div class="col-md-6">
                <label for="inputName">Id Employe:</label>
                <input class="form-control" type="text" formControlName="idemploye" readonly />
              </div>
              <div class="col-md-6">
                <label>Etat:</label>
                <input class="form-control" type="text" formControlName="etat" readonly />               
              </div>
            </div>
            <!-- Deuxième ligne -->
            <div class="form-group row">
              <div class="col-md-6">
                <label for="inputName">Date debut:</label>
                <input class="form-control" type="date" formControlName="datedebut" readonly />
              </div>
              <div class="col-md-6">
                <label for="inputName">Date fin:</label>
                <input class="form-control" type="date" formControlName="datefin" readonly />
              </div>
            </div>
            <!-- Troisième ligne -->
            <div class="form-group">
              <label for="inputName">Description:</label>
              <input class="form-control" type="text" formControlName="description" readonly />
            </div>
          </form>
        </div>
      </div>
      <!-- form  -->
    </div>
  </div>
</div>






<app-adminfooter></app-adminfooter>