



<app-coordinateurheader></app-coordinateurheader>
<app-coordinateurmenu></app-coordinateurmenu>

<div class="container">
  <div class="col-12 col-sm-12 col-lg-12">
    <div class="card ">
  
  
      


<div class="row justify-content-center">
    <div class="col-md-4 register-employee">
      <!-- form card register -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">Edit Data :</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

            
          <div class="form-group">
              <label for="inputName">idemploye</label>
              <input class="form-control" type="text" formControlName="idemploye" />
              <!-- error -->
              <div
                    class="invalid-feedback"
                    *ngIf="submitted && myForm['idemploye'].errors?.['required']"
                    class="alert alert-danger"
                  >
                  idemploye est obligatoire.....
                  </div>
            </div>
          <div class="form-group">
              <label for="inputName">description</label>
              <input class="form-control" type="text" formControlName="description" />
              <!-- error -->
              <div
                    class="invalid-feedback"
                    *ngIf="submitted && myForm['description'].errors?.['required']"
                    class="alert alert-danger"
                  >
                  description est obligatoire.....
                  </div>
            </div>
          <div class="form-group">
              <label for="inputName">datedebut</label>
              <input class="form-control" type="date" formControlName="datedebut" />
              <!-- error -->
              <div
                    class="invalid-feedback"
                    *ngIf="submitted && myForm['datedebut'].errors?.['required']"
                    class="alert alert-danger"
                  >
                  datedebut est obligatoire.....
                  </div>
            </div>
          <div class="form-group">
              <label for="inputName">datefin</label>
              <input class="form-control" type="date" formControlName="datefin" />
              <!-- error -->
              <div
                    class="invalid-feedback"
                    *ngIf="submitted && myForm['datefin'].errors?.['required']"
                    class="alert alert-danger"
                  >
                  datefin est obligatoire.....
                  </div>
            </div>
            <div class="form-group">
              <label>etat</label>
  
              <select class="form-select"  name="etat"  formControlName="etat">
  
                <option>Selectionner etat </option>
  
                <option>validé</option>
                <option>non validé</option>
                <option>en atente</option>
    
    
    
              </select>
  
  
            </div>

            <div class="form-group">
              <label for="inputName">solde conge</label>
              <input class="form-control" type="text" formControlName="soldeconge" />
              <!-- error -->
              <div
                    class="invalid-feedback"
                    *ngIf="submitted && myForm['soldeconge'].errors?.['required']"
                    class="alert alert-danger"
                  >
                  soldeconge est obligatoire.....
                  </div>
            </div>




                      <div class="form-group">

              <button class="btn btn-success btn-lg btn-block" type="submit">
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- form  -->
    </div>
  </div>


  
</div>
</div>
</div>











<app-coordinateurfooter></app-coordinateurfooter>