
      <br><br>
      
      <div class="navbar-bg btn-warning"></div>
      <nav class="navbar navbar-expand-lg main-navbar btn-info">
        <div class="form-inline mr-auto btn-info">

        </div>
        <ul class="navbar-nav navbar-right  ">



   

          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="assets/img/user.png"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">Welcome Administrateur</div>





              <div class="dropdown-divider"></div>
              <a routerLink="/" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>

           
      <BR><BR> <BR><BR>
  
      <div class="container">



      <div class="row ">
        
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-statistic-4 btn-info">
              <div class="align-items-center justify-content-between">
                
                <div class="row ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                    <div class="card-content">
                      <h5 class="font-15"><a routerLink="/adminlistuser/">Employés</a></h5>
                      <h2 class="mb-3 font-18">{{user.length}}</h2>
                      <p class="mb-0"><span class="col-green">10%</span> Increase</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                    <div class="banner-img">
                      <a routerLink="/adminlistuser/"><img src="assets/img/banner/1.png" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>




        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-statistic-4 btn-warning">
              <div class="align-items-center justify-content-between">
                <div class="row ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                    <div class="card-content">
                      <h5 class="font-15"> <a routerLink="/adminlistabsence/">Absences</a></h5>
                      <h2 class="mb-3 font-18">{{absence.length}}</h2>
                      <p class="mb-0"><span class="col-orange">09%</span> Decrease</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                    <div class="banner-img">
                      <a routerLink="/adminlistabsence/"><img src="assets/img/banner/2.png" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-statistic-4 btn-success">
              <div class="align-items-center justify-content-between">
                <div class="row ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                    <div class="card-content">
                      <h5 class="font-15"><a routerLink="/adminlistconge/">Congés</a></h5>
                      <h2 class="mb-3 font-18">{{conge.length}}</h2>
                      <p class="mb-0"><span class="col-green">18%</span>
                        Increase</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                    <div class="banner-img">
                      <a routerLink="/adminlistconge/"><img src="assets/img/banner/3.png" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-statistic-4 btn-primary">
              <div class="align-items-center justify-content-between">
                <div class="row ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                    <div class="card-content">
                      <h5 class="font-15"><a routerLink="/adminlistprojet/">Projets</a></h5>
                      <h2 class="mb-3 font-18">{{projet.length}}</h2>
                      <p class="mb-0"><span class="col-green">42%</span> Increase</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                    <div class="banner-img">
                      <a routerLink="/adminlistprojet/"><img src="assets/img/banner/4.png" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




</div>



  





