<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>


<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h3 class="mb-0">Détails: </h3>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="detailForm" >
            <!-- Première ligne -->
            <div class="form-group row">
              <div class="col-md-4">
                <label for="inputName">Titre:</label>
                <input class="form-control" type="text" formControlName="titre" readonly />
              </div>
              <div class="col-md-4">
                <label for="inputName">Id projet:</label>
                <input class="form-control" type="text" formControlName="idprojet" readonly />
              </div>
              <div class="col-md-4">
                <label for="inputName">Date creation:</label>
                <input class="form-control" type="date" formControlName="datecreation" readonly />
              </div>

              <!-- Deuxième ligne -->
              <div class="form-group">
                <label for="inputName">Description:</label>
                <input class="form-control" type="text" formControlName="description" readonly />
              </div>
            </div>
          </form>
        </div>
        <!-- form  -->
      </div>
    </div>
  </div>
</div>






<app-adminfooter></app-adminfooter>