<app-adminheader></app-adminheader>
<app-adminmenu></app-adminmenu>



<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h3 class="mb-0">Remplir le formulaire: </h3>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="avancementprojetForm" (ngSubmit)="onSubmit()" class="row">
            <div class="form-group col-md-4">
              <label for="inputName">Titre:</label>
              <input class="form-control" type="text" formControlName="titre" />
              <!-- error -->
              <div  class="form-control is-invalid" *ngIf="submitted && myForm['titre'].errors?.['required']"
                >
                Titre est obligatoire.....
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputName">Id projet:</label>
              <select class="form-select" name="idprojet" formControlName="idprojet">
                <option>Selectionner idprojet </option>
                <option *ngFor="let user of user; let i = index" [value]="user._id">{{user.nom}}</option>
              </select>
              <!-- error -->
            </div>
            <div class="form-group col-md-4">
              <label for="inputName">Date creation:</label>
              <input class="form-control" type="date" formControlName="datecreation" />
              <!-- error -->
              <div  class="form-control is-invalid" *ngIf="submitted && myForm['datecreation'].errors?.['required']"
                >
                Date creation est obligatoire.....
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="inputName">Description:</label>
              <input class="form-control" type="text" formControlName="description" />
              <!-- error -->
              <div  class="form-control is-invalid" *ngIf="submitted && myForm['description'].errors?.['required']"
                >
                Description est obligatoire.....
              </div>
            </div>
            <div class="form-group col-md-12 text-center">
              <button class="btn btn-success btn-lg" type="submit">
                Valider
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>






<app-adminfooter></app-adminfooter>